<div class="banner">
  <div class="banner__wrap">
    <div class="banner__content row--padding">
      <div class="row text--white">

        {% if page.banner.content %}
          {{page.banner.content}}
        {% else %}

          {% if page.banner.title-super %}
            <div class="banner__title--super title title--xxl title--np title--upper title--light title--italic">{{page.banner.title-super}}</div>
          {% endif %}

          <h1 class="banner__title title title--upper title--bold">
            {% if page.banner.title %}
              {{page.banner.title}}
            {% else %}
              {{page.title}}
            {% endif %}
          </h1>

          {% if page.banner.title-sub %}
            <div class="banner__title--sub title title--xl title--np title--upper title--light title--italic">{{page.banner.title-sub}}</div>
          {% endif %}

          {% if page.banner.intro %}
            {{page.banner.intro}}
          {% endif %}

        {% endif %}

      </div>
    </div>
  </div>
  {% assign pages = site.html_pages %}
  {% if pages.size > 1 %}
    {% include nav/microsite-nav.html class="banner__nav" %}
  {% endif %}
</div>