// general styles for the project that wouldn't be a reuseable component

.bg {
  &--white      { background-color: $white; }
  &--white-5    { background-color: rgba($white,.5); }
  &--black-20    { background-color: rgba($black,.2); }
  &--grey { background-color: $grey; }
  &--grey-dark { background-color: $grey-dark; }
  &--grey-darker { background-color: $grey-darker; }
  &--grey-darkest { background-color: $grey-darkest; }
  &--grey-light { background-color: $grey-light; }
  &--grey-lighter { background-color: $grey-lighter; }
  &--grey-lightest { background-color: $grey-lightest; }

  &--theme-primary { background-color: $theme-primary; }
  &--theme-secondary { background-color: $theme-secondary; }
  &--pattern { background-image: url('../img/bg/pattern-05.png'); }

  &--fixed {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
    .touch & { background-attachment: scroll; }
  }
  &--rounded { border-radius: 4px; }
  &--shadow { @include shadow; }
}



.photo-credit {
  position: absolute;
  bottom: 0; right: 0;
  background-color: rgba($grey-darkest, 0.5);
  border-top-left-radius: 3px;
  padding: 4px 10px;
  font-size: $s-2;
  color: $grey-lighter;
}



// ---------- PAGE INTRO ----------

.intro {
  $page-nav-height: 50px;
  position: relative;
  &.has-nav {
    padding-bottom: $page-nav-height;
    &__content {}
  }
}




// ---------- YOUTUBE VIDEO THUMBNAIL ----------

.video {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
  overflow: hidden;
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}




// ---------- ROADTRIP LINK BOX ----------

.roadtrip-tile {
  text-align: left;
  &__content {
    padding: $s2;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    width: 100%;
    color: $white;
  }
  &__title {
    font-weight: 500;
    letter-spacing: 0.01em;
    font-size: $s2;
    @include bp(md){ font-size: $s4; }
  }

  // large card modifiers
  &--large &__title {
    font-size: $s2;
    @include bp(md){ font-size: $s4; }
    @include bp(lg){ font-size: $s6; }
  }
}



.roadtrip-video {
  &__play {
    @include transition;
    $button-size-sm: 100px;
    $button-size: 160px;
    position: absolute;
    z-index: $z-content-overlay+1;
    top: 50%;
    left: 50%;
    margin-top: -($button-size-sm/2);
    margin-left: -($button-size-sm/2);
    height: $button-size-sm;
    width: $button-size-sm;
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include bp(lg){
      margin-top: -($button-size/2);
      margin-left: -($button-size/2);
      height: $button-size;
      width: $button-size;
    }
  }
  &:hover &__play {
    transform: scale( 1.1, 1.1);
  }
}