$white:          #fff;
$grey-lightest:  #f2f5f7;
$grey-lighter:   #dadcdf;
$grey-light:     #a1a5a9;
$grey:           #878a8f;
$grey-dark:      #646465;
$grey-darker:    #2e2e2e;
$grey-darkest:   #1a1a1a;
$black:          #000;
$orange-lighter: #feddb7;
$orange-light:   #fdbe77;
$orange:         #ff8c00;
$orange-dark:    #e67812;
$orange-darker:  #d66000;

// text colours
$text:        #7b7b7b;
$text-dark:   $grey-dark;
$text-light:  $grey-light;
$text-white:  $grey-lightest;
$headline:    #2a2b2f;

// brand colours
$theme-primary:       #e3000f;
$theme-secondary:     #008c3a;
