---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  content: >
    <span class="banner__title--super title title--xxl title--np title--upper title--italic title--bold">Discover the real</span>
    <h1 class="banner__title title title--upper title--bold">South Africa</h1>
  intro: >
    <p class="text--xxl text--shadow">A destination of variety, diversity, and vibrancy. Get closer to the African scene with your Secret Escapes video guide, and explore everything from savannah to city in this dedicated destination site</p>
    <a href="#section-roadtrips" class="btn btn--lg btn--solid">Start exploring</a>



---




<div class="section">
  <div id="section-roadtrips" class="wp"></div>
  {% assign roadtrips = site.html_pages | where:"group","roadtrip" %}
  <div class="row row--padding row--4-8-gutters row--valign">

    <div class="col text--white">
      <h4 class="title title--xl title--bold">Roadtrip <br />South Africa</h4>
      <p class="text--lg text--italic">Discover the real South Africa with our guide to the best road trips across the country. From breathtaking outdoor wonders to fascinating cultural experiences, road tripping across this beguiling land makes for an unforgettable adventure.</p>
    </div>

    <!-- hero roadtrip -->
    {% for roadtrip in roadtrips %}
    {% if roadtrip.hero-roadtrip %}
      <div class="col">
        {% include components/roadtrip.html class="large" %}
      </div>
    {% endif %}
    {% endfor %}

  </div>

  <div class="row row--padding row--6-6-gutters">
    <!-- 2 roadtrips -->
    {% for roadtrip in roadtrips %}
    {% unless roadtrip.hero-roadtrip %}
    <div class="col">
      {% include components/roadtrip.html %}
    </div>
    {% endunless %}
    {% endfor %}

  </div>
</div>




{% include page/explore-links.html %}




<div class="section offers-banner vpad--xxxl" style="background-image: url({{site.baseurl}}/img/offers-banner.jpg);">
  <div class="row row--padding text--center text--white">
  <h3 class="title title--xxxl title--upper title--bold">Travel Offers</h3>
  <p class="text--xl">South Africa is often described as an entire world in one country, and with so many incredible experiences to be had this year, now is the time to visit. Browse our offers on regional tours and sumptuous stays at top-end hotels.</p>
  <a href="{{site.baseurl}}/offers" class="btn btn--solid">View South Africa offers</a>
  </div>
</div>