---
layout: standard
id: overview
title: Overview
nav-order: 1



banner:
  content: >
    <span class="banner__title--super title title--xxl title--np title--upper title--italic title--bold">Discover the real</span>
    <h1 class="banner__title title title--upper title--bold">South Africa</h1>
  intro: >
    <p class="text--xxl text--shadow">Unpick a diverse and vibrant land that leaves an indelible mark on any traveller. Get closer to the African scene with your Secret Escapes roadtrip guide and video, or browse through the highlights of this enigmatic country.</p>
    <a href="#section-roadtrips" class="btn btn--lg btn--solid">Start exploring</a>


video-id: EaD3n3Mvc2Q


---





<!--   ROADTRIPS
=============================-->

<div class="section">
  <div id="section-roadtrips" class="wp"></div>
  {% assign roadtrips = site.html_pages | where:"group","roadtrip" %}
  <div class="row row--padding row--4-8-gutters row--valign">

    <div class="col text--white">
      <h4 class="title title--xl title--bold">Roadtrip <br />South Africa</h4>
      <p class="text--lg text--italic">Discover the real South Africa with our video and guide to the best road trips across the country. From breathtaking outdoor wonders to fascinating cultural experiences, road tripping across this beguiling land makes for an unforgettable adventure.</p>
    </div>



    <!--   HERO ROADTRIP VIDEO
    =============================-->

    <div class="col">
      <a href="javascript:void(0);" data-modal-id="modal-video" data-modal-item-id="video" data-video-id="{{page.video-id}}" class="js-open-modal roadtrip-video bg-img bg-img--16-9 bg-img--lg-4-3 bg-img--xl-16-9 bg-img--rounded bg-img--shadow" style="background-image: url({{site.baseurl}}/img/content/{{page.id}}/video.jpg);">
        <span class="roadtrip-video__play"></span>
      </a>
    </div>

    {% if page.video-id %}
      {% include modal/modal-video.html %}
    {% endif %}



  </div>



  <!--   ROADTRIP LINKS
  =============================-->

  <div class="row row--padding row--4-4-4-gutters">
    <!-- 2 roadtrips -->
    {% for roadtrip in roadtrips %}
    <div class="col">
      {% include components/roadtrip.html %}
    </div>
    {% endfor %}

  </div>
</div>




<!--   EXPLORE PAGE LINKS
=============================-->

<div class="section">
  {% assign guides = site.html_pages | where:"group","explore" %}
  <div class="row row--padding text--white text--center">
    <h3 class="title title--xl title--bold">Learn more about South Africa</h3>
  </div>

  <div class="row row--padding row--3-3-3-3-gutters">
    {% for guide in guides %}
      {% include components/explore-tile.html %}
    {% endfor %}
  </div>
</div>




{% include page/offers-banner.html %}