{% assign page-features = page.features %}
{% for feature in page-features %}
  <div class="feature row__column">
    <a class="feature__image" href="{{feature.link}}"><img src="{{site.baseurl}}/img/content/{{page.class}}/{{feature.title | slugify}}.jpg" alt="{{feature.title}}"></a>
    <div class="feature__content">
      <h2 class="feature__title">{{feature.title}}</h2>
      <p class="h4 feature__subtitle">
        {% if feature.location %}
          {{ feature.location }}
        {% else %}
          Various
        {% endif %}
      </p>
      <p>{{feature.description}}</p>
      <a class="feature__link" href="{{feature.link}}">Find Out More</a>
    </div>
  </div>
{% endfor %}