<footer class="site-footer">

  <div class="site-nav site-nav--footer">
    <div class="row">
      <ul class="site-nav__list">
        {% include site-navigation.html block="site-nav" %}
      </ul>
    </div>
  </div>

  <div class="footer-content">
    <div class="row row--padding">
      <div class="footer-content__experts">
        <div class="row row--columns-4-8-gutters row--columns-vertical-align">
          <div class="row__column">
            <a href="{{site.baseurl}}/experts">
              <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url({{site.baseurl}}/img/content/experts/experts.jpg);"></div>
            </a>
          </div>
          <div class="row__column">
            <h4 class="title title--smaller title--lower">Expert Knowledge</h4>
            <p>We’ve brought together a range of South African locals, from an Olympic athlete to a musician, to offer you expert knowledge on this fascinating land.</p>
            <a href="{{site.baseurl}}/experts" class="btn">Find Out More</a>
          </div>
        </div>
      </div>
      <div class="footer-content__logos align-center">
        <a class="logo logo--secret-escapes" href="https://www.secretescapes.com/"><img class="js-svg-swap" src="{{ site.baseurl }}/img/logo/secret-escapes.png" alt="Secret Escapes logo"></a>
        {% include partner-logo.html %}
        <p>© Copyright <span class="js-year">2016</span> Secret Escapes</p>
      </div>
    </div>

  </div>

</footer>