<div class="row row--columns-7-5 row--columns-vertical-align row--padding inner-section inner-section--dark competition-promo">
  <div class="row__column">
    <h1 class="title title--large title--bolder title--tight">Claim a further saving of £50 off your holiday!</h1>
    <p class="paragraph paragraph--large">Book any South Africa holiday with Secret Escapes and get £50 off the full price. Have an incredible stay for even less.</p>
    <a href="{{site.baseurl}}/value" class="btn btn--large btn--orange">Discover More</a>
  </div>
  <div class="row__column"></div>
</div>