<div class="row row--padding game game--starter">

  <h1 class="game__overlay game__overlay--top-center align-center game__title">Would you rather?</h1>
  <div class="game__overlay game__overlay--center game__middle">or</div>

  {% assign questions = site.data.questions %}
  {% for question in questions %}
    {% if page.class == question.topic %}

      <div class="game__questions">
        <div class="question">
          <div class="option option--left">
            <a class="option__label row--padding" href="{{site.baseurl}}/game/?question={{question.number}}&answer=adventure&uk-price={{question.adventure-price-uk}}&sa-price={{question.adventure-price-sa}}">{{question.adventure-text}}</a>
            <div class="option__bg" style="background-image: url({{site.baseurl}}/img/bg/{{question.topic}}.jpg);"></div>
          </div>
          <div class="option option--right">
            <a class="option__label row--padding"  href="{{site.baseurl}}/game/?question={{question.number}}&answer=luxury&uk-price={{question.luxury-price-uk}}&sa-price={{question.luxury-price-sa}}">{{question.luxury-text}}</a>
            <div class="option__bg" style="background-image: url({{site.baseurl}}/img/bg/{{question.topic}}.jpg);"></div>
          </div>
          </div>
      </div>

    {% endif %}
  {% endfor %}

</div>