<div id="offer-{{ offer.class }}" class="offer row__column">
  <a id="image-link-{{ offer.class }}" href="{{offer.link}}"><div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')"></div></a>
  <div class="offer__content">
    <h2 class="offer__title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="h4 offer__location">{{ offer.location }}</h3>
    <p>{{ offer.description }}</p>
  </div>
  <div class="offer__bottom row">
    <div class="offer__bottom-column">
      <p>From <span class="offer__price">£{{ offer.price }}</span> <span class="offer__was-price">£{{ offer.was-price }}</span> {{ offer.price-description }}</p>
    </div>
    <div class="offer__bottom-column offer__bottom-column--fixed">
      <a id="button-link-{{ offer.class }}" class="btn btn--red" href="{{ offer.link }}">View Offer</a>
    </div>
  </div>
</div>