<div class="offer offer--full-width">
  <div class="row row--columns-8-4 row--no-break offer__image offer__image--full-width">
    <div class="row__column">
      <a href="{{offer.link}}">
        <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}.jpg')"></div>
      </a>
    </div>
    <div class="row__column">
      <a href="{{offer.link}}">
      <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}-01.jpg')"></div>
      <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.class }}-02.jpg')"></div>
      </a>
    </div>
  </div>
  <div class="offer__content">
    <h2 class="offer__title"><a id="title-link-{{ offer.class }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="h4 offer__location">{{ offer.location }}</h3>
    <p>{{ offer.description }}</p>
    <div class="offer__bottom offer__bottom--full-width row">
      <div class="offer__bottom-column">
        <p>From <span class="offer__price">£{{ offer.price }}</span> <span class="offer__was-price">£{{ offer.was-price }}</span> {{ offer.price-description }}</p>
      </div>
      <div class="offer__bottom-column offer__bottom-column--fixed">
        <a id="button-link-{{ offer.class }}" class="btn btn--red" href="{{ offer.link }}">Book Now</a>
      </div>
    </div>
  </div>
</div>