<section id="offer-{{ offer.title | slugify }}" class="offer row__column">
  <a id="image-link-{{ offer.title | slugify }}" href="{{offer.link}}">
    <div class="bg-image-ratio bg-image-ratio--3-2" style="background-image: url('{{ site.baseurl }}/img/offers/{{ offer.title | slugify }}.jpg')"></div>
  </a>
  <div class="inner-section inner-section--light">
    <h2 class="title title--smaller title--bolder title--lower title--condense"><a id="title-link-{{ offer.title | slugify }}" href="{{ offer.link }}">{{ offer.title }}</a></h2>
    <h3 class="offer__location title title--micro">{{ offer.location }}</h3>
    <p>{{ offer.description }}</p>
  </div>
  <div class="offer__bottom inner-section inner-section--dark">
    <div class="offer__bottom-column">
      <p>From <span class="offer__price">£{{ offer.price }}</span> {% if offer.was-price %}<span class="offer__was-price">£{{ offer.was-price }}</span> {% endif %}{{ offer.price-description }} </p>
    </div>
    <div class="offer__bottom-column align-right">
      <a id="button-link-{{ offer.title | slugify }}" class="btn btn--red offer__button" href="{{ offer.link }}">View Offer</a>
    </div>
  </div>
</section>