// Styles for the page layout of each article


.page {
  &__margin-top{ height: 50%; }
  &__wrap {
    margin-bottom: ($margin * 4);
  }
  &__intro {
    max-width: $xlarge;
    &--text-shadow { text-shadow: 0px 2px 19px $black-75; }
  }
  &__intro-logo {
    margin-top: 1.25em;
    @include bp(xxxlarge){
      position: absolute;
      right: 0;
      bottom: 0;
      margin-top: 0;
    }
  }
}

.inner-section {
  padding: 1.728em 1.5em;
  font-family: $copy-font-family;
  &--light {
    color: $text-black;
    background-color: $off-white-transparent;
    .title { color: $title-black; }
  }
  &--dark {
    color: $off-white;
    background-color: $black-75;
  }
  @include bp(large){
    padding: 1.8em 2.2em;
  }
}

.subject {
  margin-bottom: 8em;
  font-family: $copy-font-family;
  line-height: 1.5;
  .inner-section { padding-bottom: 2.467em; }
  &__title {
    padding-top: .8em;
    padding-bottom: .8em;
    text-align: center;
    background-color: $black-66;
    border-bottom: 12px solid $black;
  }
}


// ---------------- subject colours ----------------

// culture
.culture-01--border { border-color: #3dac00;}
.culture-01--bg     { background-color: rgba(61,172,0,.66); }
.culture-02--border { border-color: #00ab53;}
.culture-02--bg     { background-color: rgba(0,171,83,.66); }
.culture-03--border { border-color: #91ab00;}
.culture-03--bg     { background-color: rgba(145,171,0,.66); }

// nature
.nature-01--border { border-color: #a1b82c; }
.nature-01--bg     { background-color: rgba(161,184,44,.5); }
.nature-02--border { border-color: #1ab16b; }
.nature-02--bg     { background-color: rgba(26,177,107,.5); }
.nature-03--border { border-color: #22d1c0; }
.nature-03--bg     { background-color: rgba(34,209,192,.5); }

// food
.food-01--border { border-color: #fd7e23; }
.food-01--bg     { background-color: rgba(253,126,35,.5); }
.food-02--border { border-color: #fc381d; }
.food-02--bg     { background-color: rgba(252,56,29,.5); }
.food-03--border { border-color: #bb3913; }
.food-03--bg     { background-color: rgba(187,57,19,.5); }

// adventure
.adventure-01--border { border-color: #2dc7b2; }
.adventure-01--bg     { background-color: rgba(45,199,178,.5); }
.adventure-02--border { border-color: #053d62; }
.adventure-02--bg     { background-color: rgba(5,61,98,.66); }
.adventure-03--border { border-color: #80bd35; }
.adventure-03--bg     { background-color: rgba(128,189,53,.5); }