// styles for the competition page


.competition-promo {
  padding-top: 4em;
  padding-bottom: 4em;
  background-image: url(../img/bg/competition-promo.png);
  &__terms { margin-top: 1em; }
  @include background-attributes;
  @include bp(large){
    background-image: url(../img/bg/competition-promo-fade.png);
  }
}

.form {
  overflow-x: auto;
  @include bp(large){
    max-width: $medium;
    margin: auto;
  }
  > iframe {
    height: 740px;
    @include bp(medium){
      height: 670px;
    }
    @include bp(large){
      height: 630px;
    }
  }
}

.logo-row {
  display: table;
  width: 100%;
  max-width: $large;
  margin: auto;
  table-layout: fixed;
  > * { vertical-align: middle; }
  &__item {
    display: table-cell;
    width: 2%;
    padding: .5em;
    text-align: center;
  }
}