// modal specific


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-overlay;
  background-color: $black;
  background-color: $black-66;
  cursor: pointer;
  overflow: hidden;
  &.is-open { display: block;}
  &.is-closed { display: none; }
  &__wrap {
    position: absolute;
    top: ($margin * 1.5);
    left: ($margin / 2);
    right: ($margin / 2);
    bottom: ($margin * 1.5);
    cursor: auto;
    overflow-y: auto;
    margin-top: 0 !important;
    @include bp(large){
      left: $margin;
      right: $margin;
    };
  }
  &__content {
    background-color: $white;
    padding-top: ($margin / 2);
    padding-bottom: ($margin / 2);
    @include bp(large){
      padding-top: $margin;
      padding-bottom: $margin;
    };
  }
  &__close {
    position: absolute;
    right: 0;
    top: 0;
    height: 3em;
    width: 3em;
    background-color: $se-dark-grey-85;
    background-image: url('../img/icon/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    cursor: pointer;
    z-index: $z-overlay-upper;
    @include transition;
    .svg & {
      background-image: url('../img/icon/close.svg');
    }
  }
}

.disable-scroll {
  overflow: hidden;
}