// site header and navigation styles


$core-nav-height: 70px;
$site-nav-height: 45px;
$site-header-height: ($core-nav-height + $site-nav-height);


// ---------- HEADER CONTAINER ----------

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-nav-upper;
  height: $site-header-height;
  &__offset:before {
    // corrects header overlapping content. must
    content: '';
    display: block;
    height: $site-header-height;
  }
}


// ---------- NAV FOR CORE SE SITE ----------

.core-nav {
  font-family: $core-font-family;
  color: $white;
  text-align: center;
  background-color: $black-75;
  * { vertical-align: middle; }
  &__wrap {
    position: relative;
    display: table;
    height: $core-nav-height;
    width: 100%;
  }
  &__column {
    position: absolute;
    &--left {
      padding-top: 1em;
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
    &--center {
      width: 60%;
      padding-top: 1em;
      .csstransforms.csstransforms3d & {
        top: 50%;
        left: 50%;
        padding-top: 0;
        transform: translate(-50%, -50%);
      }
    }
    &--right {
      display: none;
    }
    @include bp(medium){
      &--center{ width: auto; }
    };
    @include bp( large ){
      &--right {
        right: 0;
        display: block;
        padding-top: 1em;
        .csstransforms.csstransforms3d & {
          top: 50%;
          right: 0;
          width: auto;
          padding-top: 0;
          transform: translateY(-50%);
        }
      }
    }
    @include bp( xxlarge ){
      &--left {
        display: none;
      }
      &--center {
        left: 0;
        width: auto;
        .csstransforms.csstransforms3d & {
          top: 50%;
          left: 0;
          width: auto;
          padding-top: 0;
          transform: translateY(-50%);
        }
      }
    };
  }
  &__divider {
    display: none;
    height: ($core-nav-height / 1.5);
    width: 0.5em;
    margin-left: 0.5em;
    border-left: 1px solid $white-15;
    @include bp( medium ) {
      width: 1em;
      margin-left: 1em;
    }
    @include bp( xxlarge ){
      display: inline-block;
    }
  }
  &__list {
    display: none;
    text-transform: uppercase;
    font-size: .833em;
    font-weight: 700;
    color: $se-light-grey;
    @include bp( xxlarge ){
      display: inline-block;
    }
  }
  &__item {
    display: inline-block;
    & + & {
      margin-left: 1em;
    }
  }
  &__link {
    padding-top: .5em;
    padding-bottom: .5em;
    @include transition;
    &:hover,
    &--current {
      color: $se-orange;
      text-decoration: none;
    }
  }
}


// ---------- NAV FOR MICROSITE ----------

$nav-arrow-width: 66px;
.site-nav {
  height: $site-nav-height;
  font-family: $title-font-family;
  font-weight: 600;
  text-align: center;
  color: $white;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: .066em;
  text-transform: uppercase;
  background-color: $se-dark-grey-75;
  overflow: hidden;
  &__list {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    .touch & {
      padding-right: $nav-arrow-width;
      &:before {
        // prompt for horizontal scroll on phone
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: $z-nav-upper;
        display: block;
        width: $nav-arrow-width;
        height: auto;
        background-image: url("../img/icon/nav-arrow-dark.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: $nav-arrow-width auto;
      }
    }
  }
  &__item {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    @include transition;
    & + &:before {
      // dividing lines between site nav items
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      height: ($site-nav-height / 1.33);
      width: 1px;
      background-color: $white-15;
      transform: translateY(-50%);
      @include transition;
    }
  }
  &__link {
    display: inline-block;
    width: 100%;
    padding: ($site-nav-height / 3) 1.2em;
    border-bottom: 4px solid $white;
    @include transition;
    &:hover,
    &--current {
      padding-bottom: ($site-nav-height / 3) - 4px ;
      background-color: $black-5;
      text-decoration: none;
    }
  }
  @include bp(xxlarge){
    .flexbox & {
      &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      &__item { flex-grow: 1; }
    }
  }
}


// ---------- MOBILE NAV OFF CANVAS ----------

$mobile-nav-width: 75%;
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $z-overlay;
  width: $mobile-nav-width;
  color: $white;
  font-family: $core-font-family;
  background-color: $se-dark-grey-85;
  overflow-y: auto;
  @include transition;
  &.is-closed {
    left: -$mobile-nav-width;
    visibility: hidden;
    opacity: 0;
  }
  &.is-open {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__list {
    border-top: 1px solid $black-33;
    border-bottom: 1px solid $black-33;
  }
  &__item {
    list-style: none;
    & + & { border-top: 1px solid $black-33; }
  }
  &__link {
      @include transition;
      display: block;
      padding-top: .694em;
      padding-bottom: .694em;
      color: $se-light-grey;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: $se-orange;
        background-color: $se-dark-grey-33;
        text-decoration: none;
      }
      &--current { color: $se-orange; }
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: $se-dark-grey-85;
    text-align: center;
    @include bp-vertical {
      position: static;
    }
    @include bp(large){
      display: none;
    }
  }
  @include bp(xxlarge){
    display: none;
  }
}


// ---------- SITE FOOTER ----------
.site-footer {
  font-size: 1.2em;
  background-color: $black-75;
  padding-top: $margin;
  padding-bottom: $margin;
  @include bp(large){
    display: none;
  };
}

.footer-nav {
  &__item {
    list-style-type: none;
    & + & { border-top: 1px solid $white-15; }
  }
  &__link {
    display: block;
    padding-top: .5em;
    padding-bottom: .5em;
    @include transition;
    &:hover {
      text-decoration: none;
      color: $se-orange
    }
  }
}


// ---------- ICONS ----------

$icon-size: 27px;
.icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  cursor: pointer;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $icon-size;
  &--menu {
    background-image: url("../img/icon/menu.png");
    svg & { background-image: url("../img/icon/menu.svg"); }
  }
  &--close {
    background-image: url("../img/icon/close.png");
    svg & { background-image: url("../img/icon/close.svg"); }
  }
}


// ---------- LOGOS ----------

.logo {
  display: inline-block;
  &--secret-escapes {
    max-width: 180px;
    padding-top: 4px;
  }
  &--partner { max-width: 120px; }
}