// site header and navigation styles


$core-nav-height: 70px;
$site-nav-height: 45px;
$site-header-height: ($core-nav-height + $site-nav-height);


// ---------- HEADER CONTAINER ----------

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-nav-upper;
  height: $site-header-height;
  &__offset:before {
    // corrects header overlapping content. must
    content: '';
    display: block;
    height: $site-header-height;
  }
}


// ---------- NAV FOR CORE SE SITE ----------

.core-nav {
  font-family: $core-font-family;
  color: $white;
  text-align: center;
  background-color: $black-75;
  * { vertical-align: middle; }
  &__wrap {
    position: relative;
    display: table;
    height: $core-nav-height;
    width: 100%;
  }
  &__column {
    position: absolute;
    &--left {
      padding-top: 1em;
      .csstransforms.csstransforms3d & {
        top: 50%;
        padding-top: 0;
        transform: translateY(-50%);
      }
    }
    &--center {
      width: 60%;
      padding-top: 1em;
      .csstransforms.csstransforms3d & {
        top: 50%;
        left: 50%;
        padding-top: 0;
        transform: translate(-50%, -50%);
      }
    }
    &--right {
      display: none;
    }
    @include bp(medium){
      &--center{ width: auto; }
    };
    @include bp( large ){
      &--right {
        right: 0;
        display: block;
        padding-top: 1em;
        .csstransforms.csstransforms3d & {
          top: 50%;
          right: 0;
          width: auto;
          padding-top: 0;
          transform: translateY(-50%);
        }
      }
    }
    @include bp( xlarge ){
      &--left {
        display: none;
      }
      &--center {
        left: 0;
        width: auto;
        .csstransforms.csstransforms3d & {
          top: 50%;
          left: 0;
          width: auto;
          padding-top: 0;
          transform: translateY(-50%);
        }
      }
    };
  }
  &__divider {
    display: none;
    height: ($core-nav-height / 1.5);
    width: 0.5em;
    margin-left: 0.5em;
    border-left: 1px solid $white-25;
    @include bp( medium ) {
      width: 1em;
      margin-left: 1em;
    }
    @include bp( xlarge ){
      display: inline-block;
    }
  }
  &__list {
    display: none;
    text-transform: uppercase;
    font-size: .833em;
    font-weight: 700;
    color: $se-light-grey;
    @include bp( xlarge ){
      display: inline-block;
    }
  }
  &__item {
    display: inline-block;
    & + & {
      margin-left: 1em;
    }
  }
  &__link {
    padding-top: .5em;
    padding-bottom: .5em;
    @include transition;
    &:hover,
    &--current {
      color: $se-orange;
      text-decoration: none;
    }
  }
}


// ---------- NAV FOR MICROSITE ----------

$nav-arrow-width: 66px;
.site-nav {
  height: $site-nav-height;
  font-family: $title-font-family;
  font-weight: 600;
  text-align: center;
  color: $white;
  font-size: 13px;
  line-height: 1.2;
  letter-spacing: .066em;
  text-transform: uppercase;
  background-color: $se-dark-grey-75;
  overflow: hidden;
  &__list {
    padding-right: $nav-arrow-width;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    &:before {
      // prompt for horizontal scroll on phone
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      z-index: $z-nav-upper;
      display: block;
      width: $nav-arrow-width;
      height: $site-nav-height;
      background-image: url("../img/icons/nav-arrow-dark.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: $nav-arrow-width auto;
    }
    @include bp(xlarge){
      padding-right: 0;
      overflow: visible;
      &:before { display: none; }
    }
  }
  &__item {
    height: $site-nav-height;
    position: relative;
    display: inline-block;
    white-space: nowrap;
    @include transition;
    & + &:before {
      // dividing lines between site nav items
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      height: $site-nav-height;
      width: 1px;
      background-color: $white-25;
      @include transition;
      .csstransforms.csstransforms3d & {
        top: 50%;
        height: ($site-nav-height / 1.5);
        transform: translateY(-50%);
      }
    }

  }
  &__link {
    display: inline-block;
    width: 100%;
    padding: ($site-nav-height / 3) 1.2em;
    margin-bottom: -4px;
    border-bottom: 4px solid transparent;
    @include transition;
    &:hover,
    &--current {
      padding-bottom: ($site-nav-height / 3) - 4px ;
      margin-bottom: 0;
      background-color: $black-5;
      text-decoration: none;
      border-bottom-color: $white;
    }
  }
  @include bp(xlarge){
    overflow: visible;
    height: auto;
    .flexbox & {
      &__list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
      }
      &__item { flex-grow: 1; }
    }
  }
  // resets the nav for the footer to stop side scrolling
  @media (max-width: $xlarge) {
    &--footer {
      height: auto;
      background-color: $se-dark-grey-85;
    }
    &--footer & {
      &__list{
        padding-right: 0;
        border-top: 1px solid $white-15;
        white-space: normal;
        &:before {
          content: none;
        }
        .svg & {
          display: flex;
          flex-flow: row wrap;
        }
      }
      &__item {
        display: inline-block;
        width: 33.33%;
        border-bottom: 1px solid $white-15;
        &:before { content: none; }
        .svg & {
          flex-grow: 1;
        }
        @media (max-width: $medium) {
          width: 100%;
        }
      }
      &__link {
        border: 0;
        &:hover,
        &--current {
          padding-bottom: ($site-nav-height / 3);
          border: 0;
        }
      }
    }
  }
}

.drop-nav {
  position: absolute;
  display: none;
  width: 15em;
  transform-origin: top center;
  @include transition;
  .csstransforms.csstransforms3d & {
    display: block;
    transform: scaleY(0);
  }
  &__item {
    display: block;
    height: $site-nav-height;
    background-color: $se-dark-grey-75;
    @include transition;
    &:hover { background-color: $black-75; }
    border-top: 1px solid $white-25;
    & + & {
    }
  }
  &__link {
    display: block;
    line-height: $site-nav-height;
    &:hover { text-decoration: none; }
  }
  @include bp(xlarge){
    .site-nav__item:hover &{
      display: block;
      .csstransforms.csstransforms3d & {
        transform: scaleY(1);
      }
    }
  }
  .site-nav--footer & {
    display: none;
  }
  &__mobile {
    @include bp(xlarge){
      display: none;
    }
    li {
      display: block;
      border-left-width: .33em;
      border-style: solid;
      background-color: $black-33;
      margin-right: 1em;
      @include bp(medium){
        display: inline-block;
      }
      a {
        display: block;
        height: $margin * 1.5;
        padding-left: ($margin / 2);
        padding-right: $margin;
        line-height: $margin * 1.5;
        &:hover { text-decoration: none; }
      }
    }
    li + li {
      border-top: 1px solid $white-5;
      @include bp(medium){
        border-top: 0;
      }
    }
  }
}


// ---------- MOBILE NAV OFF CANVAS ----------

$mobile-nav-width: 75%;
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: $z-overlay;
  width: $mobile-nav-width;
  color: $white;
  font-family: $core-font-family;
  background-color: $se-dark-grey-85;
  overflow-y: auto;
  @include transition;
  &.is-closed {
    left: -$mobile-nav-width;
    visibility: hidden;
    opacity: 0;
  }
  &.is-open {
    left: 0;
    visibility: visible;
    opacity: 1;
  }
  &__list {
    border-top: 1px solid $black-33;
    border-bottom: 1px solid $black-33;
  }
  &__item {
    list-style: none;
    & + & { border-top: 1px solid $black-33; }
  }
  &__link {
      @include transition;
      display: block;
      padding-top: .694em;
      padding-bottom: .694em;
      color: $se-light-grey;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
      &:hover {
        color: $se-orange;
        background-color: $se-dark-grey-33;
        text-decoration: none;
      }
      &--current { color: $se-orange; }
  }
  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1em;
    background: $se-dark-grey-85;
    text-align: center;
     > * {
       vertical-align: middle;
     }
    @include bp-vertical {
      position: static;
    }
    @include bp(large){
      display: none;
    }
  }
  @include bp(xlarge){
    display: none;
  }
}


// ---------- SITE FOOTER ----------
.footer-content {
  background-color: $black-85;
  &__logos {
    font-size: .9em;
    border-top: 1px solid $white-15;
    padding-top: $margin;
    padding-bottom: ($margin * 1.5);
  }
  &__experts {
    padding-top: ($margin * 1.5);
    padding-bottom: $margin;
  }
  .logo {
    vertical-align: middle;
    margin-left: ($margin/4);
    margin-right: ($margin/4);
  }
  p { margin-top: .5em; }
  .logo--secret-escapes { max-width: 110px; }
  .logo--partner { max-width: 100px; }
}


// ---------- ICONS ----------

$icon-size: 27px;
.icon {
  display: inline-block;
  height: $icon-size;
  width: $icon-size;
  cursor: pointer;
  vertical-align: middle;
  background-position: center;
  background-repeat: no-repeat;
  background-size: $icon-size;
  &--menu {
    background-image: url("../img/icons/menu.png");
    svg & { background-image: url("../img/icons/menu.svg"); }
  }
  &--close {
    background-image: url("../img/icons/close.png");
    svg & { background-image: url("../img/icons/close.svg"); }
  }
}


// ---------- LOGOS ----------

.logo {
  display: inline-block;
  &--secret-escapes {
    max-width: 180px;
    padding-top: 4px;
  }
  &--partner {
    max-width: 100px;
    & + & {
      padding-left: 1em;
    }
  }
  &--south-african-airways { max-width: 140px;}
  &--premier-holidays { max-width: 80px;}
}