// styles for the offer blocks that appear on the terrain pages


.offer {
  @include bp(large){
    @include layout(12 1/2);
    @include gallery(6);
  }
  & + & {
    margin-top: $margin;
    @include bp(large){
      margin-top: 0;
      &:nth-child(n+3) {
        margin-top: gutter(12);
      }
    }
  }
  &__button { white-space: nowrap; }
  &__bottom {
    display: table;
    width: 100%;
    &-column {
      display: table-cell;
      vertical-align: middle;
      & + & { padding-left: .5em; }
    }
  }
  &__location {
    &:before {
      // MAP PIN ICON
      content: "";
      display: inline-block;
      height: 1em;
      width: .833em;
      margin-right: .33em;
      margin-bottom: .22em;
      vertical-align: bottom;
      background-image: url( "../img/icons/map-pin.png" );
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100%;
      background-size: contain;
      .svg & { background-image: url( "../img/icons/map-pin.svg" ); }
    }
  }
  &__price {
    display: inline-block;
    font-family: $main-font-family;
    font-size: 1.728em;
    font-weight: 600;
    line-height: 0;
  }
  &__was-price {
    font-family: $main-font-family;
    font-size: 1.2em;
    text-decoration: line-through;
  }
  .title > a:hover { text-decoration: none; }
}