// unique colors for each content page


// BORDER TOP COLOR ON EACH PAGE CONTENT
.lifestyle .page            { border-top-color: $sa-yellow; }
.food-and-wine .page        { border-top-color: $sa-yellow; }
.fashion-and-design .page   { border-top-color: $sa-green; }
.adventure-and-nature .page { border-top-color: $sa-blue; }
.music-and-arts .page       { border-top-color: $sa-red; }

// HEADER SITE NAVIGATION LINKS
.site-nav__link--lifestyle            { border-bottom-color: $sa-yellow;}
.site-nav__link--food-and-wine        { border-bottom-color: $sa-yellow;}
.site-nav__link--fashion-and-design   { border-bottom-color: $sa-green;}
.site-nav__link--adventure-and-nature { border-bottom-color: $sa-blue;}
.site-nav__link--music-and-arts       { border-bottom-color: $sa-red;}

// FOOTER SITE NAVIGATION LINKS
.footer-nav__link--lifestyle:hover            { color: $sa-yellow;}
.footer-nav__link--food-and-wine:hover        { color: $sa-yellow;}
.footer-nav__link--fashion-and-design:hover   { color: $sa-green;}
.footer-nav__link--adventure-and-nature:hover { color: $sa-blue;}
.footer-nav__link--music-and-arts:hover       { color: $sa-red;}

// FEATURE MORE INFO LINK
.lifestyle .feature__link:after            {background-color: $sa-yellow;}
.food-and-wine .feature__link:after        {background-color: $sa-yellow;}
.fashion-and-design .feature__link:after   {background-color: $sa-green;}
.adventure-and-nature .feature__link:after {background-color: $sa-blue;}
.music-and-arts .feature__link:after       {background-color: $sa-red;}

// FEATURE IMAGE LABEL
.lifestyle .feature__image:before            {background-color: $sa-yellow; color: $text-black; }
.food-and-wine .feature__image:before        {background-color: $sa-yellow; color: $text-black; }
.fashion-and-design .feature__image:before   {background-color: $sa-green;}
.adventure-and-nature .feature__image:before {background-color: $sa-blue;}
.music-and-arts .feature__image:before       {background-color: $sa-red;}