// styles for the secrets page

$secret-height: 400px;
.secret {
  &__wrap { height: $secret-height; }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content-overlay;
    display: none;
    background-color: $black-75;
    background-image: url('../img/icons/question-large.png');
    background-repeat: no-repeat;;
    background-position: center;
    background-size: auto 150px;
    cursor: pointer;
    user-select: none;
    .svg & { background-image: url('../img/icons/question-large.svg'); }
    @include bp(large){
      background-size: auto 200px;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-content;
    @include background-attributes;
    background-image: url('../img/bg/overview.jpg');
  }
  &__title {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: $z-content-upper;
    padding: 1.5em;
    color: $white;
    background-color: $black-75;
  }
  &__content {
    background-color: $black;
  }
}