// styles for the secrets page


$secret-height: 550px;
.secret {
  position: relative;
  overflow: hidden;
  @include transition;

  &__content { background-color: $black; }
  &__cover {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: $z-nav;
    width: 100%;
    padding-top: 33.33%;
    text-align: center;
    font-size: 20em;
    font-weight: 100;
    line-height: .72;
    background-color: $black;
    cursor: pointer;
    user-select: none;
    @include transition;
    .flexbox & {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 0;
    }
    &.removed {
      left: -100%;
    }
  }
  &__bg{
    @include background-attributes;
    background-image: url('../img/img.png');
    &:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 66.666666666667%;
    }
  }
  @include bp(xlarge){
    height: $secret-height;
    &:hover {
      transform: translateY(-10px);
      &.is-revealed { transform: none; }
    }
    &__content {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content-upper;
      max-height: ($secret-height / 3);
      background-color: transparent;
    }
    &__bg {
      &:before {
        display: none;
      }
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: $z-content;
      height: auto;
    }
    &__scroll {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      right: -20px;
      padding-right: 20px;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }
  // grid layout for questions
  & + & { margin-top: $margin; }
  @include bp(xlarge){
    @include layout(12 1/2);
    @include gallery(6);
    margin-top: gutter(12);
    & + & { margin-top: gutter(12); }
  }
}