// all custom styles for the site


.caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: ($margin/3) ($margin/2);
  background-color: $black-5;
  color: $white !important;
  &--image-credit {
    font-size: .75em;
    opacity: .66;
    @include transition;
    &:hover {
      opacity: .9;
    }
  }
}

// appears as a special sub title on secret and value pages
.logo-credit {
  margin-top: ($margin / 2);
  margin-bottom: $margin;
  > * { vertical-align: middle; }
  &__text {
    font-size: 1.5em;
    margin-right: .2em;
  }
  &__image {
    &.logo--secret-escapes {
      max-width: 160px;
      padding-top: 7px;
    }
  }
}


// ---------- button ----------

.btn {
  @include transition;
  display:inline-block;
  padding: .5em 1.5em;
  border: 1px solid $se-orange;
  font-family: $main-font-family;
  font-weight: 600;
  text-align: center;
  border-radius: 100em;
  cursor: pointer;
  &:hover {
    color: white;
    background-color: $se-orange;
    text-decoration: none;
  }
  &--large { font-size: 1.2em; }
  &--xlarge { font-size: 1.5em; }

  &--orange {
    color: $white;
    background-color:  $se-orange;
    border: 0;
    &:hover {
      background-color: darken( $se-orange, 5);
    }
  }
  &--red {
    color: $white;
    background-color: $sa-red;
    border: 0;
    &:hover {
      background-color: darken($sa-red, 15);
    }
  }
  * + & { margin-top: 1em; }
}


// ---------- Fixed & Video Background ----------

body {
  background-color: $black;
  color: $white;
}

.fixed-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z-background;
  @include background-attributes;
}


// ---------- YOUTUBE VIDEO THUMBNAIL ----------

.video {
  position: relative;
  height: 0;
  max-width: 100%;
  padding-bottom: 56.25%;
  background-color: #000;
  overflow: hidden;
  &__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include background-attributes;
  }
  &__play {
    $button-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: $button-size;
    width: $button-size;
    margin-top: -( $button-size / 2 );
    margin-left: -( $button-size / 2 );
    background-image: url("../img/icons/play.png");
    @include background-attributes;
    background-size: contain;
    cursor: pointer;
    @include transition;
    &:hover {
      transform: scale( 1.25, 1.25);
    }
  }
}


// ---------- INTERVIEW STYLE ----------

.interview {
  padding-top: $margin/3;
  padding-bottom: $margin/3;
  .row__column + .row__column { margin-top: $margin; }
  @include bp(large){
    padding-top: 0;
    padding-bottom: 0;
    .row__column + .row__column { margin-top: 0; }
  }
  &__question {
    & + & { margin-top: $margin; }
  }
}