// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'omnes-pro', 'Helvetica Neue', sans-serif;
$title-font-family: 'omnes-pro', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.45 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  margin-bottom: .25em;
  font-family: $title-font-family;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

h1, .h1 {
  font-size: 2.986em;
  line-height: 1;
  @include bp(large){
    font-size: 3.375em;
  }
}
h2, .h2 { font-size: 2em; }
h3, .h3 { font-size: 1.728em; }
h4, .h4 { font-size: 1.2em; }


// -------- general content styles --------

p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 600; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }