// general typographic styles


// -------- root typography styles --------

$core-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
$title-font-family: 'Open Sans', 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.728 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp( large ) {
    font-size: 15px;
  }
}


// -------- Headings --------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: $title-font-family;
  line-height: 1.2;
  margin-bottom: .5em;
}

h1, .h1 {
  font-size: 3.375em;
  @include bp( medium ) {
    font-size: 4em;
  }
  @include bp( large ) {
    font-size: 5.063em;
  }
}

h2, .h2 {
  font-size: 2em;
  @include bp( medium ) {
    font-size: 2.488em;
  }
  @include bp( large ) {
    font-size: 2.986em;
  }
}

h3, .h3 {
  font-size: 1.728em;
  @include bp( medium ) {
    font-size: 2.074em;
  }
  @include bp( large ) {
    font-size: 2.488em;
  }
}

h4, .h4 { font-size: 1.728em; }


// -------- general content styles --------

p + *         { margin-top: 1em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 600; }
.align-left   { text-align: left; }
.align-right  { text-align: right; }
.align-center { text-align: center; }