// general typographic styles


// -------- root typography styles --------

$core-font-family:  'Open Sans', 'Helvetica Neue', sans-serif;
$main-font-family:  omnes-pro, 'Helvetica Neue', sans-serif;
$title-font-family: omnes-pro, 'Helvetica Neue', sans-serif;
$copy-font-family:  Muli, 'Helvetica Neue', sans-serif;

html { font-size:62.5%; }
body,
input, textarea, keygen, select, button {
  font: 400 14px/1.45 $main-font-family;
  -webkit-text-size-adjust: 100%;
  @include bp(medium) {
    font-size: 15px;
  }
}


// -------- Headings --------


.title {
  font-family: $title-font-family;
  text-transform: uppercase;
  letter-spacing: .025em;
  line-height: 1.15;
  + * { margin-top: .5em; }

  &--spacing {
    * + & { margin-top: 15px; }
  }
  &--extra-margin { margin-top: 1.5em; }
  &--sub-heading { margin-top: 0 !important; }

  &--light     { font-weight: 200; }
  &--bold      { font-weight: 500; }
  &--bolder    { font-weight: 600; }
  &--expanded  { letter-spacing: .2em; }
  &--condense  { letter-spacing: 0; }
  &--tight     { line-height: .9; }
  &--tighter   { line-height: .8; }
  &--lower     { text-transform: capitalize; }
  &--italic    { font-style: italic; }

  &--largest {
    font-size: 4.3em;
    &-sub {
      display: block;
      font-size: .55em;
    }
  }
  &--larger      { font-size: 3.375em; }
  &--large       { font-size: 2.986em; }
  &--medium      { font-size: 2.25em; }
  &--small       { font-size: 2em; }
  &--smaller     { font-size: 1.867em; }
  &--smallest    { font-size: 1.5em; }
  &--tiny        { font-size: 1.44em; }
  &--micro       { font-size: 1.2em; }
  @include bp(medium){
    &--largest { font-size: 5.16em; }
  }
  @include bp(large){
    &--largest { font-size: 6.192em; }
  }
  @include bp(xxlarge){
    &--largest     { font-size: 8em; }
    &--larger      { font-size: 6em; }
    &--large       { font-size: 4em; }
    &--medium      { font-size: 2.933em; }
    &--small       { font-size: 2.467em; }
    &--smaller     { font-size: 2.25em; }
  }
}

.paragraph {
  &--lead {
    font-size: 1.25em;
    line-height: 1.25;
  }
  &--large { font-size: 1.05em; }
  &--larger { font-size: 1.05em; }
  @include bp(large){
    &--lead { font-size: 1.467em; }
    &--large { font-size: 1.2em; }
    &--larger { font-size: 1.7em; }
  }
}


// -------- general content styles --------

p {
  max-width: 850px;
  .align-center &,
  &.align-center { margin-left: auto; margin-right: auto; }
}
p + *         { margin-top: .66em; }
li            { list-style-position: inside; }
ul li         { list-style-type: disc; }
ol li         { list-style-type: decimal; }
em            { font-style: italic; }
strong        { font-weight: 600; }
.align-center { text-align: center; }
.align-right  { text-align: right; }
.align-left   { text-align: left; }



hr {
  border: 0;
  height: 1px;
  background-color: $light-grey;
  margin: 2em 0;
  padding: 0;
  .title + & { padding-top: 0; margin-top: 2em; }
  & + p { padding-top: 0 !important; }
  .text--white & { background-color: rgba($white,0.1); }
}
.hr {
  &--center { width: 80px; margin-left: auto; margin-right: auto; }
  &--margin { margin-top: 2em; margin-bottom: 2em; }
  &--white  { background-color: $light-grey; }
  &--dark   { background-color: $dark-grey; }
  &--left { width: 80px; margin-left: 0; }
  &--bold { height: 3px; }
}

