// using background images for easy cropping and aspect ratio chaning

@mixin ratios() {
  &3-4:before   { padding-top: 133.333333333334%; }
  &1-1:before   { padding-top: 100%; }
  &2-3:before   { padding-top: 150%; }
  &4-3:before   { padding-top: 75%; }
  &3-2:before   { padding-top: 66.666666666667%; }
  &16-9:before  { padding-top: 56.25%; }
  &21-9:before  { padding-top: 42.8571429%; }
  &circle       { border-radius: 9999999em; }
}

.bg-img {
  display: block;
  position: relative;
  background-color: $grey-lighter;
  @include background-attributes();
  &:before {
    display: block;
    content: "";
    width: 100%;
  }
  &-- { @include ratios; }
  &--no-gutters + &--no-gutters { margin-top: 0; }

  &--rounded { border-radius: 4px; overflow: hidden; }
}

.caption {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: ($s2/3) ($s2/2);
  background-color: rgba($black,.5);
  color: $white !important;
  &--image-credit {
    font-size: .75em;
    opacity: .66;
    @include transition;
    &:hover {
      opacity: .9;
    }
  }
}