// Styles for the roadtrip maps

.roadtrip {
  @include layout(12 0);
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-top: $s5;
  @include bp(lg){
    margin-top: $s8;
  }



  // map
  &__map {
    background-color: #B5D4F3;
    position: absolute !important;
    height: 100%;
    top: 0;
    @include bp(xl){
      @include span(6);
    }
    &.js-map-fixed {
      position: fixed !important;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.js-map-bottom {
      top: auto;
      bottom: 0;
    }
  }


  // content sidebar
  &__pane {
    background-color: $white;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    @include bp(xl){
      @include span(6 last);
    }
  }



  // intro section for roadtrip
  &__intro {
    &-banner {
      @include background-attributes();
      width: 100%;
      padding: $s12 $s8;
    }
    // link boxes in the intro section
    &-wplink {
      display: flex;
      background-color: $grey-lightest;
      text-align: center;
      padding: $s2 $s2;
      margin-bottom: $s2;
      width: 100%;
      height: $s13;
      align-items: center;
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }



  // section of roadtrip write-up
  &__section {
    & .wp { top: 1px; }
    @include transition();
    background-color: $white;
    position: absolute;
    top: 0;
    height: 100%;
    overflow: scroll;
    opacity: 0;

    // active state when marker is activated
    &--active {
      opacity: 1;
      z-index: $z-content-upper;
    }

    // content layout of section
    &-content {
      margin: $s4;
      padding: $s4 $s6 $s2;
    }
    &-images {
      @include clearfix();
      margin: $s4;
    }
    &-footer {
      margin: $s4;
      padding: $s2 $s6 $s4;
    }

    // return button by title
    &-return {
      @include transition();
      $return-size: 46px;
      width: $return-size;
      height: $return-size;
      position: absolute;
      left: $return-size/4;
      top: $s8;
      border-radius: 99px;
      border: 1px solid $grey-lighter;
      background-image: url('../img/icons/arrow-left-black.svg');
      background-repeat: no-repeat;
      background-size: 13px;
      background-position: 45% center;
      &:hover { background-color: $grey-lighter; }
    }

    // section highlight tags
    &-highlights {
      padding-top: $s0;
      &-title { margin-right: 0.5em; }
    }
    &-highlight {
      border: 1px solid $grey-lighter;
      border-radius: 99em;
      color: $grey-darker;
      font-weight: 700;
      font-size: 0.83em;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      padding: 0.4em 1.2em;
      margin-right: 0.5em;
      margin-bottom: 0.8em;
      text-align: center;
      display: inline-block;
    }

  }



}

