// Styles for the roadtrip maps

.roadtrip {
  @include layout(12 0);
  width: 100%;
  position: relative;
  margin-top: $s5;
  @include bp(lg){
    margin-top: $s8;
  }
  &:after {
    content: " ";
    display: block;
    clear: both;
  }

  // map
  &__map {
    background-color: #B5D4F3;
    position: absolute !important;
    height: 100vh;
    top: 0;
    @include bp(xl){
      @include span(6);
    }
    &.js-map-fixed {
      position: fixed !important;
      height: 100%;
      top: 0;
      left: 0;
    }
    &.js-map-bottom {
      top: auto;
      bottom: 0;
    }
  }

  // content sidebar
  &__pane {
    margin-top: 3em;
    background-color: $white;
    @include bp(xl){
      @include span(6 last);
    }
  }
}



// highlights/stopoffs/Waypoints
.waypoint {
  position: relative;
  & .wp { top: 1px; }

  // active state when marker is activated
  &--active {
    border-left: 4px solid $theme-secondary;
  }

  &__images {
    @include clearfix();
  }
  &__content {
    padding: $s4;
  }

  &__highlights {
    margin-top: $s2;
    padding: $s2 0;
    border-top: 2px solid $grey-lighter;
  }
  &__highlight {
    background-color: $grey-lighter;
    color: $grey-darker;
    font-weight: 600;
    padding: 0.3em 1.2em;
    margin: 0 0.3em 0.6em 0.3em;
    border-radius: 99em;
    text-align: center;
    display: inline-block;
  }

}


.marker {
  width: 30px;
  height: 38px;
  background-image: url(../img/icons/marker.png);
  background-size: 100% auto;
}

