
<div class="poi bg-img bg-img--xxl-4-3 bg-img--lg-3-4 bg-img--16-9 bg-img--shadow bg-img--rounded bg-img--hover bg--grey-darkest">

  <a href="javascript:void(0);" data-modal-id="modal-pois" data-modal-item-id="{{poi.id}}" class="bg-img__link js-open-modal"></a>

  <div class="bg-img__content">
    <span class="title title--xxs title--upper title--kerning title--bold">{{poi.title}}</span>
  </div>

  <div class="bg-img__bg" style="background-image: url('{{site.baseurl}}/img/content/{{page.id}}/{{section.id}}/pois/{{poi.id}}.jpg');"></div>

</div>