

<a href="{{site.baseurl}}{{roadtrip.url}}" class="roadtrip-tile{% if include.class == 'large' %} roadtrip-tile--large bg-img--1-1 bg-img--lg-4-3 bg-img--xxl-16-9{% else %} bg-img--1-1 bg-img--lg-4-3 bg-img--xxxl-21-9{% endif %} bg-img bg-img--rounded bg-img--shadow bg--grey-darkest">
  <div class="roadtrip-tile__content text--white">

    <h4 class="title title--super title--xxxs title--upper title--kerning title--bold">{{roadtrip.roadtrip.title}}</h4>

    {% if include.class == 'large' %}
      <h3 class="title title--lg">{{roadtrip.title}}</h3>
    {% else %}
      <h3 class="title title--md">{{roadtrip.title}}</h3>
    {% endif %}

    <ul class="list--lined">
      <li><p><span class="text--bold">Time:</span> {{roadtrip.roadtrip.meta.time}}</p></li>
      <li><p><span class="text--bold">Distance:</span> {{roadtrip.roadtrip.meta.distance}} / {{roadtrip.roadtrip.meta.time}}</p></li>
    </ul>

  </div>

  <div class="bg-img__bg" style="background-image: url({{site.baseurl}}/img/content/{{roadtrip.id}}/nav.jpg);"></div>
</a>

