

<a href="{{roadtrip.url}}" class="roadtrip-tile{% if include.class == 'large' %} roadtrip-tile--large bg-img--16-9{% else %} bg-img--21-9{% endif %} bg-img bg-img--rounded bg-img--shadow bg--grey-darkest">
  <div class="roadtrip-tile__content text--white">

    {% if include.class == 'large' %}
      <span class="title title--lg title--bold title--upper title--kerning">{{roadtrip.title}}</span>
    {% else %}
      <span class="title title--sm title--bold title--upper title--kerning">{{roadtrip.title}}</span>
    {% endif %}

    <ul class="list--lined">
      <li><p><span class="text--bold">Journey:</span> {{roadtrip.meta.journey}}</p></li>
      <li><p><span class="text--bold">Length:</span> {{roadtrip.meta.distance}} / {{roadtrip.meta.time}}</p></li>
    </ul>

  </div>
  <div class="bg-img__bg" style="background-image: url({{site.baseurl}}/img/bg/{{roadtrip.id}}-nav.jpg);"></div>
</a>

