

// ---------- button ----------

.btn {
  position: relative;
  display: inline-block;
  padding: $s1 $s3;
  color: $text-white;
  font-weight: 600;
  font-size: $s-1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .25em;
  line-height: 1.33;
  border-radius: 3px;
  cursor: pointer;
  @include bp(lg){
    padding: $s2 $s6;
  }
  @include transition;
  * + & { margin-top: 1.5em; }
  &--sm {
    padding: $s1 $s4;
    font-size: $s-2;
  }
  &--lg { font-size: $s0; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--orange-outline {
    color: $text;
    background-color: $white;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $orange;
      border-radius: inherit;
    }
    &:hover {
      color: $text-white;
      background-color: $orange;
    }
  }
  &--white-outline {
    color: $white;
    &:before {
      // creates a border within the button dimentions. useful if an outline
      // button is inline with a solid colour button
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 1px solid $white;
      border-radius: inherit;
    }
    &:hover {
      color: $orange;
      background-color: $white;
    }
  }
  &--solid {
    background-color: $theme-primary;
  }
  &--qantas {
    background-color: $theme-primary;
  }
  &--white {
    background-color: rgba($white,0.9);
    color: $theme-primary;
    &:hover { background-color: $white; }
  }
}