// styles for logos on site

.logo {
  display: inline-block;
  &--se {
    max-width: 140px;
    padding-top: 3px;
    @include bp(md){
      max-width: 170px;
      padding-top: 4px;
    }
    &-sm {
      max-width: 120px;
      padding-top: 5px;
    }
  }
  &--partner { // max-width for this is about 150x46px
    width: 120px;
    &-sm { width: 82px; }
    & + * { padding-left: 1em; }
    & + & {
      border-left: 1px solid rgba($white,0.2);
      margin-left: 1em;
    }
    .footer__logos &,
    .mobile-nav__bottom & {
      border-left: 0px !important;
      padding-left: 0px !important;
      margin-left: 1em;
    }
  }
  &--corsica { // max-width for this is about 150x46px
    width: 180px;
    &-sm { width: 140px; }
    & + * { padding-left: 1em; }
  }
  &--air-corsica { // max-width for this is about 150x46px
    width: 120px;
    &-sm { width: 100px; }
    & + * { padding-left: 1em; }
  }
}