---
layout: default
---

{% assign subjects = page.subjects %}

<!-- page intro -->
<div class="row">
  <div class="page__intro">
    <h1 class="title title--largest title--bolder title--tighter title--condense">{{page.title}}</h1>
    <p class="paragraph paragraph--lead page__intro--text-shadow">{{page.intro}}</p>
    <ul class="drop-nav__mobile row">{% for subject in page.subjects %}<li class="{{page.class}}-0{{forloop.index}}--border"><a class="title title--bolder title--expanded" href="{{site.baseurl}}{{page.url}}#{{ subject.title | slugify }}">{{ subject.title }}</a></li>{% endfor %}</ul>
  </div>
</div>

<!-- page subjects -->
{% for subject in subjects %}
  <section id="{{ subject.title | slugify }}" class="row subject">
    <div class="subject__title {{page.class}}-0{{forloop.index}}--bg {{page.class}}-0{{forloop.index}}--border row--padding">
      <h2 class="title title--small title--bold title--expanded title--tight">{{ subject.title }}</h2>
    </div>
    <div class="inner-section inner-section--light">
      {{ subject.content | liquify }}
    </div>
  </section>
{% endfor %}