---
layout: default
---

<div class="page row row--padding">
  <div class="row">
    <h1>{{page.title}}</h1>
    <p class="page__intro">{{page.intro}}</p>
  </div>
  <div class="row">
    {% include feature.html %}
  </div>
</div>

<div class="promo row row--padding">
  <a class="promo__logo logo logo--secretescapes" href="https://www.secretescapes.com/current-sales">
    <img class="js-svg-swap" src="{{site.baseurl}}/img/logo/secret-escapes.png" alt="Secret Escpaes Logo">
  </a>
  <p>Book your luxury adventure holiday to South Africa with Secret Escapes</p>
  <a href="https://www.secretescapes.com/current-sales" class="btn">See Current Offers</a>
</div>