<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top" class="{% if page.class %}{{ page.class }}{% endif %}" {% if page.class %}data-current-page="{{ page.class }}"{% endif %}>

    {% include tracking.html %}

    {% include header.html %}

    <div class="page__margin-top"></div>
    <div class="row--padding">
      <div class="page__wrap">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <!-- FIXED BG  -->
    {% if page.standard-bg %}
      <div class="fixed-background" style="background-image: url('{{site.baseurl}}/img/bg/overview.jpg');"></div>
    {% else %}
      <div class="fixed-background" style="background-image: url('{{site.baseurl}}/img/bg/{{page.class}}.jpg');"></div>
    {% endif %}

  </body>

</html>
