---
layout: default
title: Secrets
class: secrets
nav-order: 6
intro: >
  If you like to wander off the tourist path and discover those hidden gems that only those in the know know about, then look no further. Mum’s the word!

secrets:
  - title: Mzoli’s
    description: A pretty poorly kept secret, this is the only place to go eat on a Sunday in Cape Town. This adored barbecue hangout is packed from when it opens at 11am, offering the finest barbecued meats around. Pick your meats, take them to the counter, and have them barbecued in Mzoli’s special marinade. Eat with your hands, bring your own beer, and mingle with the heaving throngs of locals and visitors while DJs pump out house music to the joyous crowds.

  - title: Bo-Kaap
    description: Discover the brightly painted 18th century slave houses in this charming area, with a museum open to explore this traditionally immigrant area of Cape Town. See the oldest mosque in the southern hemisphere, and be sure to try Cape Malay cuisine on the balconies of locals in the Malay Quarter (booking a tour is recommended).

  - title: Mount Nelson Hotel
    description: Purported to be the best afternoon tea in the world. It certainly is an opulent way to spend an afternoon, and where better than this stalwart setting?

  - title: Big Baobab bar
    description: This famous ancient Baobab tree is, as expected, very old and rather large. It’s at least over 1,000 years old, and naturally forms a cavernous space in its roots. It made complete sense then, to convert this space into a bar! A rather unique place to have a pint, that’s for sure.

  - title: Nirox Sculpture Park
    description: A short drive from the Cradle of Humankind is this stunning landscaped park, which showcases sculpture from local artists. A serene picnic spot, check out the online programme to see the changing roster of artwork and lookout for outdoor events held here.

  - title: Robben Island beach
    description: This infamous island, in contrast to its dark past, offers some great beaches with great views of Cape Town. A highlight has to be the penguins – escape the tourist trap of Boulder’s Beach and seek out Robben Island’s small colony, with far less visitors to contend with. Just be sure to catch the last ferry!
---


<section class="row section">
  <div class="page__intro">
    <h1 class="title title--largest title--bolder title--tighter title--condense">{{page.title}}</h1>
    {% include logo-credit.html %}
    <p class="paragraph paragraph--lead page__intro--text-shadow">{{page.intro}}</p>
  </div>
</section>

<section class="row secrets">
{% assign secrets = page.secrets %}
{% for secret in secrets %}
  <div class="secret row">
    <div class="secret__wrap row">
      <div class="secret__cover js-reveal-secret"></div>
      <div class="secret__bg" style="background-image: url('{{site.baseurl}}/img/content/secrets/{{secret.title | slugify}}.jpg');"></div>
      <div class="secret__title">
        <h2 class="title title--small title--lower">{{secret.title}}</h2>
      </div>
    </div>
    <div class="secret__content inner-section inner-section--dark">
      <p class="paragraph paragraph--large">{{secret.description}}</p>
    </div>
  </div>
{% endfor %}
</section>